<app-nav-menu></app-nav-menu>
<div class="container clearfix" style="padding-top:20px;">	
    <div class="contractFormTabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">User Details</a></li>
        <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Personal Details</a></li>
      </ul>
  
      <!-- Tab panes -->
      <div class="tab-content">
        
        <div role="tabpanel" class="tab-pane active" id="tab1">
          <div class="pageHeading">
            PeopleSoft
          </div><!--//pageHeading-->
          
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Domain</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" value="">
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Status</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control"><option>Active</option></select>
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
                      <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Business Line</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control"><option></option></select>
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Username</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn"><span class="glyphicon glyphicon-search"></span></a>
                    <input type="text" class="form-control" value="">
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Employee Id</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn"><span class="glyphicon glyphicon-search"></span></a>
                    <input type="text" class="form-control" value="">
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
                      <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Position</div><!--//col-sm-4-->
                  <div class="col-sm-8">									
                    <input type="text" class="form-control" value="">
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          
          <div class="pageHeading">
            Access
          </div><!--//pageHeading-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Team</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn"><span class="glyphicon glyphicon-plus"></span></a>
                    <select class="form-control"><option>GWS</option></select>
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Role</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn"><span class="glyphicon glyphicon-plus"></span></a>
                    <select class="form-control"><option>Broker</option></select>
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          
          <div class="pageHeading">
            Approver
          </div><!--//pageHeading-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Username</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn"><span class="glyphicon glyphicon-search"></span></a>
                    <input type="text" class="form-control">
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Team</div><!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control">
                  </div><!--//col-sm-8-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          
        </div><!--//tab1-->
        
        
        <div role="tabpanel" class="tab-pane" id="tab2">						
          <div class="pageHeading">
            Details
          </div><!--//pageHeading-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Prefix</div><!--//col-sm-4-->
                  <div class="col-sm-8"><select class="form-control"><option>Mrs.</option><option>Mr.</option></select></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">First Name</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->	
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Last Name</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Email</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->	
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Mobile</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="pageHeading">
            Address
          </div><!--//pageHeading-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Country</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">State</div><!--//col-sm-4-->
                  <div class="col-sm-8"><select class="form-control"><option>Queensland</option></select></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Lot/Block No.</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Street No.</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
                  
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Street Name</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Street Type</div><!--//col-sm-4-->
                  <div class="col-sm-8"><select class="form-control"><option>Lane</option></select></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="row">					
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">District/Suburb</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
            
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">City/Town</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Post Code</div><!--//col-sm-4-->
                  <div class="col-sm-8"><input type="text" class="form-control" value=""></div><!--//col-sm-4-->
                </div><!--//row-->
              </div><!--//form-group-->
            </div><!--//col-md-4-->
          </div><!--//row-->
          
        </div><!--//tab2-->
        
        
      </div><!--//tab-content-->
  
    </div><!--//contractFormTabs-->
    
    
    <div class="clearfix text-right contractBtns">
      <input type="button" class="btn btn-primary" value="Save">
      <input type="button" class="btn btn-primary" value="Cancel">
    </div>
    
  </div>