<div class="form-inline">
    <div class="form-group">
        <label><h5>{{title}}</h5></label>
    </div>
    <div class="form-group">

        <div class="col-lg-12 searchboxwrapper">
            <input class="input-sm" placeholder="Enter any text to filter" (paste)="getPasteData($event)" (keyup)="getEachChar($event.target.value)" type="text" [(ngModel)]="listFilter" />
            <span id="searchclear" (click)="clearFilter()" *ngIf="listFilter"> <i class="fa fa-close searchsubmit"></i></span>

            <!--<img src="{{searchBoxCloseImgUrl}}" class="cross-btn" (click)="clearFilter()" *ngIf="listFilter" />-->
            <!--<img src="../../images/cross.png" class="cross-btn" (click)="clearFilter()" *ngIf="listFilter" />-->
        </div>
    </div>
    <div class="form-group">
        <div *ngIf='listFilter'>
            <div class="h5 text-muted">Filter by: {{listFilter}}</div>
        </div>
    </div>
</div>