<app-nav-menu></app-nav-menu>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" novalidate>
  <div class="container clearfix" style="padding-top:20px;">
    <div class="contractFormTabs">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">User Details</a>
        </li>
        <li role="presentation">
          <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Personal Details</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="tab1">
          <div class="pageHeading">
            PeopleSoft
          </div>
          <!--//pageHeading-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Domain</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="50" name="domain" [(ngModel)]="user.domain" disabled required>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Status</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                      <select class="form-control" [(ngModel)]="user.statusId" name="status"   disabled="{{disabled}}">
                          <option value="0">Active</option>
                          <option value="8">InActive</option>
                        </select>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Business Line</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control" name="businessLine" [(ngModel)]="user.businessLineId" disabled="{{disabled}}" (ngModelChange)="businessLineSelected($event)">
                      <option class='option' *ngFor="let businessLine of this.businessLines" [value]="businessLine.id">{{businessLine.description}}</option>
                    </select>
                    <!-- <select class='select-option' required [(ngModel)]='optionSelected' (ngModelChange)='onOptionsSelected($event)'>
                        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
                    </select> -->
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Username</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <input type="text" class="form-control" maxlength="50" (valueChanged)="onUserNameSelect(user.userName)" name="userName" [(ngModel)]="user.userName"
                      disabled="{{disabled}}" auto-complete [source]="this.existingEmployeeUserName" required>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Employee Id</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <input type="text" class="form-control" maxlength="50" name="employeeId" (valueChanged)="onUserNameSelect(user.employeeId)" [(ngModel)]="user.employeeId" disabled="{{disabled}}"
                      auto-complete [source]="this.existingEmployeeIds" required>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Position</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="250" name="position" [(ngModel)]="user.position" disabled="{{disabled}}"
                      required>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->


          <div class="pageHeading">
            Access
          </div>
          <!--//pageHeading-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Team</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn" routerLink="/add-team">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <select class="form-control" name="teamName" [(ngModel)]="userTeam.teamId" disabled="{{disabled}}">
                      <option class='option' *ngFor="let userTeam of this.teams" [value]="userTeam.id">{{userTeam.name}}</option>
                    </select>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Role</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn" routerLink="/add-role">
                      <span class="glyphicon glyphicon-plus"></span>
                    </a>
                    <select class="form-control" name="roleName" [(ngModel)]="userRole.roleId" disabled="{{disabled}}">
                      <option class='option' *ngFor="let userRole of this.roles" [value]="userRole.id">{{userRole.name}}</option>
                    </select>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->


          <div class="pageHeading">
            Approver
          </div>
          <!--//pageHeading-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Username</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <a href="javascript:void(0);" class="addFldBtn">
                      <span class="glyphicon glyphicon-search"></span>
                    </a>
                    <input type="text" class="form-control" name="approverId" [(ngModel)]="userApprover.approverId" disabled="{{disabled}}" auto-complete
                      [source]="this.existingEmployeeUserName" required>
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Team</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" disabled="{{disabled}}">
                  </div>
                  <!--//col-sm-8-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->


        </div>
        <!--//tab1-->


        <div role="tabpanel" class="tab-pane" id="tab2">
          <div class="pageHeading">
            Details
          </div>
          <!--//pageHeading-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Prefix</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control" name="prefix" disabled="{{disabled}}" [(ngModel)]="userPersonalDetail.prefix">
                      <option value="Mrs.">Mrs.</option>
                      <option value="Mr.">Mr.</option>
                    </select>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">First Name</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="50" name="firstName" [(ngModel)]="userPersonalDetail.firstName" disabled
                      required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Last Name</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="50" name="lastName" [(ngModel)]="userPersonalDetail.lastName" disabled>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Email</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="80" name="email" [(ngModel)]="userPersonalDetail.email" disabled>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Mobile</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="20" name="mobile" [(ngModel)]="userPersonalDetail.mobile" disabled>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="pageHeading">
            Address
          </div>
          <!--//pageHeading-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Country</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control" name="country" [(ngModel)]="suburb.countryTypeId" disabled="{{disabled}}">
                      <option class='option' *ngFor="let country of this.countries" [value]="country.id">{{country.description}}</option>
                    </select>

                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">State</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control" name="stateType" [(ngModel)]="suburb.stateId" disabled="{{disabled}}">
                      <option class='option' *ngFor="let stateType of this.stateTypes" [value]="stateType.id">{{stateType.description}}</option>
                    </select>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Lot/Block No.</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="3" name="lotNo" [(ngModel)]="address.lotNo" disabled="{{disabled}}" required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Street No.</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="10" name="streetNo" [(ngModel)]="address.streetNo" disabled="{{disabled}}"
                      required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Street Name</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="50" name="streetName" [(ngModel)]="address.streetName" disabled="{{disabled}}"
                      required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Street Type</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <select class="form-control" name="streetType" [(ngModel)]="address.streetTypeId" disabled="{{disabled}}">
                      <option class='option' *ngFor="let streetType of this.streetTypes" [value]="streetType.id">{{streetType.description}}</option>
                    </select>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">District/Suburb</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="50" name="suburbName" [(ngModel)]="suburb.suburbName" disabled="{{disabled}}"
                      required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->

            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">City/Town</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="50" name="city" [(ngModel)]="suburb.city" disabled="{{disabled}}" required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <div class="row">
                  <div class="col-sm-4 textlabel">Post Code</div>
                  <!--//col-sm-4-->
                  <div class="col-sm-8">
                    <input type="text" class="form-control" maxlength="10" name="postCode" [(ngModel)]="suburb.postCode" disabled="{{disabled}}"
                      required>
                  </div>
                  <!--//col-sm-4-->
                </div>
                <!--//row-->
              </div>
              <!--//form-group-->
            </div>
            <!--//col-md-4-->
          </div>
          <!--//row-->

        </div>
        <!--//tab2-->


      </div>
      <!--//tab-content-->

    </div>
    <!--//contractFormTabs-->


    <div class="clearfix text-right contractBtns">
      <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Save</button>
      <input type="button" class="btn btn-primary" value="Cancel" (click)="onCancelClicked()">
    </div>

  </div>
</form>